@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: simplifica;
  src: url(SIMPLIFICA\ Typeface.ttf);
}
:root {
  --header-bg-color: #010101;
  --header-color-1: #33aae1;
  --header-color-2: #6cc6ac;
  --body-color: whitesmoke;
  --code-bg-color: #282c35;
  --body-bg-color-1: #303145;
  --body-bg-color-2: #171717;
  --footer-bg-color: #010101;
  --footer-color: #33aae1;
  --card-bg-color-1: #2c303b;
  --card-bg-color-2: #1d1e22;
  --card-bg-color-3: #23262b;
  --card-color: #43a8b2;
  --main-bg-color: #1e1e26;
  
}
html{
    scroll-behavior: smooth;
}
body {
  background-color: var(--body-bg-color-2);
  font-family: simplifica;
}
.header {
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  position: relative;
}
.logo {
  color: brown;
}
.logo .surname-text{
    color: var(--header-color-1);
}
.logo .fa-laptop{
    font-size: 16px;
    color: burlywood;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
/* Styling active menu  */
.header ul li.bg-color{
    background-color: grey;
}
.header ul li.bg-color a{
    color: skyblue;
}
.header ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  letter-spacing: 2px;
  color: var(--header-color-2);
  transition: color 1000ms linear;
}
.header ul li a:hover{
    color: brown;
}
.hamburger-menu{
    display: none;
    cursor: pointer;
}
.about-section{
    font-size: 1.2em;
}
.about-section .name {
  color: brown;
}
.about-section h1{
    letter-spacing: 5px;
   
}
.home {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
.about-wrapper{
    width: 70%;
    margin: auto;
    padding: 1em;
    font-size: 1.2em;
}
.about-wrapper .description{
    color: whitesmoke;
    font-weight: 500;
    
}
.about-wrapper .description h2{
    text-align: center;
    padding: 1em 0em;
    letter-spacing: 3px;
    font-family: simplifica;
}
.about-wrapper .description p{
    font-family: "Open Sans Condensed", sans-serif;
    padding: 1em 0em;
}
.stack{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   gap: 1em;
    
}
.stack .fab, .stack .fas{
    color: #43a8b2;   
}
.stack .fab{
    padding: 1em;
}
.individual-tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
}

.individual-tech p{
    text-align: center;
    padding: 1em;
    color: whitesmoke;
}
.description a{
    text-decoration: none;
    color: var(--header-color-2);
}
/* Styling Projects section*/


.projects-wrapper {
    background-color: var(--body-bg-color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.2em;
}
.projects-wrapper a{
    color: var(--header-color-2);
    text-decoration: none;
    transition: all 1000ms linear;
}
.projects-wrapper a:hover{
    color: var(--header-color-1);
}
.projects-wrapper h2, .projects-wrapper h3{
    font-family: simplifica;
    text-align: center;
    padding: 1em;
    letter-spacing: 2px;
}
.card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
    padding: 1em;
    width: 70%;
    margin: auto;


}
.image-wrapper a{
    display: block;
    width: 100%;
    height: auto;
    

}
.image-wrapper img{
    display: block;
    width: 100%; 
    height: auto;
    
}

.project{
    background-color: var(--main-bg-color);
}
.description-paragraph{
    width: 70%;
    margin: auto;
    padding: 1em;
}
.description-wrapper p{
    text-align: center;
    padding: 1em;
    
}
/* Styling form*/

.contact-form-wrapper{
    width: 70%;
    padding: 1em;
    margin: auto;
    color: whitesmoke;
    

}
.contact-form-wrapper h2{
    text-align: center;
    letter-spacing: 3px;
    padding: 1em;
}
form{
    padding: 1em;
    width: 80%;
    margin: auto;
    background-color: var(--main-bg-color);
}
form input, textarea{
    display: block;
    width: 90%;
    padding: 1em;
    margin: 1em auto;
    border: 1px solid transparent;
    background-color: var(--body-bg-color-1);
    color: whitesmoke;
    
}

textarea {
min-height: 30vh;
}
/* Styling Projects footer*/
.footer {
  background-color: var(--footer-bg-color);
  min-height: 10vh;
  color: whitesmoke;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 100;
}
.footer .fa-laptop{
    color: burlywood;
}
.footer .wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer .wrapper .logo{
    font-weight: 100;
    font-size: 16px;
}

.social-media-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}
.footer .fab {
  padding: 1em;
  color: var(--body-bg-color-1);
}
.footer .copy-right {
  color: whitesmoke;
  font-size: smaller;
  padding: 1em 0;
  text-align: center;
}
.footer .copy-right .copy-right-symbol {
  color: brown;
}


@media screen and (max-width: 800px){
    .hamburger-menu{
        display: block;
    }
    .header{
        padding: 1em;
    }
   .header ul.menu{
        display: none;
        position: absolute;
        left: 0;
        top: 0;
    }

   .header ul.display-menu{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100vw;
       height: 100vh;
       background-color: #171717;
       
   }

   .card-wrapper{
       width: 95%;
   }
   .contact-form-wrapper{
       width: 95%;
   }
   .description-paragraph{
      width: 95%;
   }
   .about-wrapper{
       width: 95%;
   }
   .card-wrapper{
    grid-template-columns: 1fr;
}
  .lock-scroll{
      overflow: hidden;
  }
}

@media screen and (max-width: 650px){
    .contact-form-wrapper{
        width: 100%;
    }
}
@media screen and (max-width: 400px){
    .stack{
        grid-template-columns: repeat(2, 1fr);
    }
    .about-section{
        font-size: 1em;
    }
    .about-section h1{
        letter-spacing: 1px;
    }
    .footer .fab{
        padding: 5px;
    }
}