@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: simplifica;
  src: url(SIMPLIFICA\ Typeface.ttf);
}
:root {
  --header-bg-color: #010101;
  --header-color: #33aae1;
  --body-color: whitesmoke;
  --code-bg-color: #282c35;
  --body-bg-color-1: #303145;
  --body-bg-color-2: #171717;
  --footer-bg-color: #010101;
  --footer-color: #33aae1;
  --card-bg-color-1: #2c303b;
  --card-bg-color-2: #1d1e22;
  --card-color: #43a8b2;
  --main-bg-color: #1e1e26;
}
body {
  background-color: var(--body-bg-color-2);
  font-family: "Montserrat", sans-serif;
  font-family: simplifica;
}
.header {
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.logo {
  color: brown;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.header ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: whitesmoke;
}
.about-section .name {
  color: brown;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.footer {
  background-color: var(--footer-bg-color);
  min-height: 10vh;
  color: whitesmoke;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 100;
}

.footer .wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.footer ul li{
    padding: 1em;
}
.footer ul li a{
    text-decoration: none;
    color: #303145;
}
.laptop{
    color: #303145;
}
.social-media-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}
.fab {
  padding: 1em;
  color: var(--body-bg-color-1);
}
.footer .copy-right {
  color: whitesmoke;
  font-size: smaller;
  padding: 1em 0;
  text-align: center;
}
.footer .copy-right .copy-right-symbol {
  color: brown;
}
